name: Dataplex

on:
  workflow_call:
    secrets:
      gcpKey:
        required: false
    inputs:
      release:
        description: "release tag of OpenLineage to use"
        type: string
      workload_identity_provider:
        description: "GCP Workload Identity Provider (if not using credentials_json)"
        type: string
        required: false
      service_account:
        description: "GCP Service Account email (if not using credentials_json)"
        type: string
        required: false

permissions:
  contents: read

jobs:
  run-dataplex-tests:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: GCP authorization
      id: gcp-auth
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: '${{ inputs.workload_identity_provider }}'
        service_account: '${{ inputs.service_account }}'
        credentials_json: '${{ secrets.gcpKey }}'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f consumer/consumers/dataplex/validator/requirements.txt ]; then pip install -r consumer/consumers/dataplex/validator/requirements.txt; fi
    - name: Run python script
      run: |
        export PYTHONPATH=scripts &&  python consumer/consumers/dataplex/validator/validator.py \
        --credentials ${{ steps.gcp-auth.outputs.credentials_file_path }} \
        --consumer_dir consumer/consumers/dataplex \
        --scenario_dir consumer/scenarios/ \
        --parent projects/gcp-open-lineage-testing/locations/us \
        --release ${{ inputs.release }} \
        --target dataplex-report.json

    - uses: actions/upload-artifact@v4
      with:
        name: dataplex-report
        path: dataplex-report.json
        retention-days: 1
